/* Empty. Add your own CSS if you like */
#start_scan{
    width:50%;
    margin-left: 25%;
}
#stop_scan{
    width:50%;
    margin-left: 25%;
}
#show1st{
    width:20%;
    margin-left: 75%;
    z-index: 999;
}
#show2nd{
    width:20%;
    margin-left: 75%;
    z-index: 999;
}
#showfull{
    width:20%;
    margin-left: 75%;
    z-index: 999;
}
#viewport{
position: absolute;
    top: 0;
    left: 0;
}